{{ if .Site.Params.service.enable }}
    {{"<!-- Service Section -->" | safeHTML}}
    <section id="service" class="call-to-action section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="heading wow fadeInUp">
                    {{ with .Site.Params.cta.title }}
                        <h2>{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.cta.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
        <div id="events">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </section>
{{ end }}